#root {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  justify-items: center;
}

$elements: display, equals, clear, add, subtract, divide, multiply, zero, one,
  two, three, four, five, six, seven, eight, nine;

@each $element in $elements {
  ##{$element} {
    grid-area: #{$element};
  }
}

main {
  display: grid;
  height: 80vh;
  width: 30vh;
  margin: auto;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(6, auto);
  grid-template-areas:
    "display display display display"
    "clear clear decimal divide"
    "seven eight nine multiply"
    "four five six add"
    "one two three subtract"
    "zero . . equals";
}

#display {
  background-color: black;
}
